
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700,700italic&subset=latin,latin-ext);
html body, h1, h2, p, ul{
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', sans-serif;
	

}
.wrapper{

	background: url(../img/bgnubes.png) no-repeat;
  	background-color: #c2dfee;
  	margin-top: 0;

}
.header{
	width: 100%;
	height: 40px;
	background:  linear-gradient(rgba(61,61,61, .5), rgba(46,46,46, .5)), url(../img/bghead.png), rgb(46,46,46);

}	
#bar_center::after{
	content: "";
	width: 25px;
	height: 25px;
	left: 50%;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -40px 0px; 

}
#bar_center{
	width: 865px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}



nav{
	
	height: 100%;
	float: left;


}

nav li{
	position: relative;
	display: inline-block;
	height: 100%;
	color: white;
	line-height: 40px;
	
	padding-left: 40px;
	padding-right: 20px;
	font-size: 14px;

}
/*Normal items img bg*/
nav li:first-child::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: 0 -50px; 
  	
		
	
	}
nav li:nth-child(2)::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -40px -50px; 
		
		
		
		
}
nav li:nth-child(3)::after{
	content: "";
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -80px -50px; 
		
		
		
		
}
nav li:nth-child(4)::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -120px -50px; 
		
		
		
		
}	
/*Hover*/
nav li:first-child:hover::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: 0 -110px; 
  	
		
	
	}
nav li:nth-child(2):hover::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -40px -110px; 
		
		
		
		
}
nav li:nth-child(3):hover::after{
	content: "";
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -80px -110px; 
		
		
		
		
}
nav li:nth-child(4):hover::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 10px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -120px -110px; 
		
		
		
		
}
.active{

	background-color: rgb( 38, 38, 38 );
	
}
#search{
	height: 100%;
	padding-top: 6px;
	padding-right: 7px; 
	float: right;
	

}
.isearch{
	outline: none;
	width: 205px;
	height: 25px;
	margin-right: 5px;
	border-radius: 100px;
	position: absolute;
	bottom:8px;
	right: 98px;
	display: inline-block;
}
.out{
	width: 25px;
position: absolute;
top: 8px;
left: 1120px;
height: 25px;
border: none;
background: url(../img/sprites.png);
background-position: -548px -48px;
}
.isearch:focus + label{
	opacity: .0;
}

.settings{
	cursor: pointer;
	border: none;
	width: 40px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
	background:  url("../img/sprites.png");
	outline: none;
	background-position: -159px -48px;

}
.settings::after{
	
width: 12px;
height: 7px;
position: absolute;
background-color: red;
background: url("../img/downarrow.png");
background-position: center;
background-repeat: no-repeat;
top: 15px;
content: "";
right: 55px
}

.new{
	width: 30px;
	height: 25px;
	border: none;
	background: url("../img/sprites.png");
	background-position: -194px -47px; 	

	background-color: #00bbf5;
	border-radius: 5px;
	display: inline-block;
}
#search form{
	height: 100%;
	padding:auto 0;
}
#search:nth-child(2)::before{
	content: "";
	width: 5px;
	height: 25px;
	left: 762px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -239px -53px; 	

}
#search:nth-child(2)::after{
	content: "";
	width: 20px;
	height: 25px;
	left: 816px;
	top: 9px;
	position: absolute;
	background: url("../img/sprites.png");
	background-position: -239px -53px; 	

}
#search label{
	position: absolute;
	left: 574px;
	top: 11px;
}
#submit{
	cursor: pointer;
	outline: none;
	border: hidden;
	background: url("../img/sprites.png");
	background-position: -20px -710px;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 108px;
	top: 10px;
}
/* Aside */
aside{
	width: 300px;
	height: 755px;
	float: left;
}
aside article{
	border-radius: 10px;
}

.twets{
	width: 100%;
	height: 68px;
	background-color: #f9f9f9;
	padding:0;
}
ul{

	height: 100%;
}
.twets ul li{
	
	list-style: none;
	position: relative;
	width: 100%;
	height: 20%;
	padding: 7px;
	padding-left: 14px;
	box-sizing: border-box;
	border-bottom:1px solid #e8e8e8;
}
.twets ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
} 
.link_normal{
	text-decoration: none;
	color: #42a3c6;
	
}

.active_link{
	text-decoration: none;
	color: black;
}
.twets ul li:last-child{
	border-bottom:transparent;
}
.twets ul li a:after{
	content:"";
	width: 25px;
	height: 15px;
	position: absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -158px;
	right: 0px;
	top: 10px;
}

.twets{
	width: 100%;
	height: 165px;
	background-color: #f9f9f9;
}
.twetsto{
	box-sizing: border-box;
	margin-top: 15px;
	padding: 15px;
	width: 100%;
	height: 80px;
	background-color: #f9f9f9;
}
.twetsto p{
	margin:0px;
	margin-bottom: 2px;
	font-weight: bold;
}
.inputuser{		
	outline: none;
	width: 267px;
	height: 22px;
	border-radius: 5px;

}
.grid{
	box-sizing: border-box;
	margin-top: 15px;
	width: 100%;
	height: 210px;
	background-color: #f9f9f9;
	padding: 11px;

}
.gridcell{
	margin: 1px;
	float: left;
	width: 90px;
	height: 90px;
	background-color: gray;
}
.similar{
	margin-top: 15px;
	width: 100%;
	height: 175px;
	background-color: #f9f9f9;
}
.similar ul{
    width: auto;
    height: 100%;
}
.similar ul li{
	list-style: none;
	position: relative;
	width: 100%;
	height: 25%;
	padding: 7px;
	padding-left: 14px;
	box-sizing: border-box;
	border-bottom:1px solid #e8e8e8;
}
.similar ul li a{
	padding-left: 40px;
	float:left;
	width: 100%;
	height: 100%;
} 
.title-similar::after{
    content:"";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/sprites.png);
    background-position: -0px -154px;
    top:9px;
    right:  0px;
}
.similar ul li a:first-child{
	padding-left:10px;
	float:left;
	width: 100%;
	height: 100%; 
}

.title-similar{
	text-decoration: none;
	color: #000;
	width: 30px;

}
.content-similar{
	text-decoration: none;
	color: #000;

	

}
.similar-stext{
    margin: 0px;
    margin-left: 40px;
    width: 150px;
    font-size: 11px;
}
.link_follow{
    
    outline: none;
    color: blue;
}
.similar_stext span{
    color: blue;
}
.img-small{
	position: absolute;
	top: 4px;	
	width: 30px;
	height: 30px;
    border-radius: 5px;
    background-color: gray; 
}
.legal{
	margin-top: 15px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 80px;
	background-color: #f9f9f9;
}
.legal p{

margin: 0px;
padding-left: 15px;
font-size: 12px;
color: gray;
display: block;
line-height: 20px;
	
}
/*Aside rigth*/
.profile{
	float: right;
	width: 520px;
	height: 312px;
	background-color: transparent;

}
.up{
	padding: 20px;
	width: 100%;
	height: 260px;
	background-color: #999999;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-sizing: border-box;
	text-align: center;
}
.up{
color:white;
}
.up img{
	margin: 0 auto;
	border: 5px solid white;
	border-radius: 10px;

}
.up h1{
	font-size: 20px;

}
.up h2{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}
.up p {
	
	width: 400px;
	margin: 0 auto;
	font-size: 12px;
}


.info{
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
	
}
.info ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

.info p{
	padding: 0px;
	margin: 0px;	
} 
.info ul li{
	float: left;
	box-sizing: border-box;
	padding-top: 6px;
	padding-right: 20px;
	padding-left: 20px;
	height: 100%;
}
.info ul li:nth-child(2){
	border-right: 1px solid #e8e8e8;
	border-left: 1px  solid #e8e8e8;
}
.number_bold{
	font-weight: bold;
	font-size: 15px;
}
.text_nomal{

	font-size: 12px;
	font-weight: bold;
	color: #b4b4b4;
}

#boton-info{
	float: right;
	padding: 10px;
}
.person{
	width: 40px;
	height: 30px;
    
  	background-image:linear-gradient(white, #dddddd);
	position: relative;
    border: 1px solid #cccccc;
    border-radius: 7px;
    outline: none;
}
.person::after{
	content: "";
width: 25px;
height: 20px;
position: absolute;
background-image: url(../img/sprites.png);
background-position: -60px -430px;
right: 5px;
top: 8px;
}
.follow{
	width: 85px;
	height: 30px;
 	padding-left: 17px;
    position: relative;
	background-image:linear-gradient(white, #dddddd);
	border: 1px solid #cccccc;
    border-radius: 7px;
    outline: none
}
.follow::after{
	content: "";
	width: 20px;
	height: 20px;
	position:absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -430px;
	top: 9px;
	left: 7px;

}
/*large twet*/
.large_twet{
    box-sizing:  border-box;
    margin-top: 15px;
    width: 520px;
    height: 560px;
    background: white;
    border-radius: 10px;
    float: right;
    

}

.large_title{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #cccccc;
}
.large_title h1{
    margin-left: 15px;
    margin-top: 10px;
}
.large_profile{
    width: 100%;
    height: 447px;
    border-bottom: 1px solid #cccccc;
    
}
.little_twet{
    margin-top: 15px;
    width: 520px;
    height: 276px;
    background: white;
    border-radius: 10px;
    float: right;
}

.img_foto{
    width: 60px;
    height: 100%;
    float: left;

}
.img_profile{
    background-color: gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.data{
    float: right;
    width: 440px;
    height: 100%;
    font-size: 15px;
    
    
}
.option_ul{
    list-style: none;
    float:left;
    width: 100%;
    height: 35px;
    position: relative;
    
    
    
    
    
}
.option_li{
    float:left;
    padding-left: 20px;
}
.big_img{
    background-color: gray;
    border-radius: 10px;
}
.img_info{
    list-style: none;
    float: left;
    width: 90%;
    height: 100px;
}
.img{
    margin: 0px;
    padding: 0px;
    background-color: gray;
    border-radius: 10px;
}
.img_info li{
    
    display: inline-block;
    border-top: 1px solid #e8e8e8;
    float: left;
    padding-top: 5px;
}
.img_info li:nth-child(2){
    display: inline-block;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.hide::after{
    background-color: #44a5c8;
    content: "";
	width: 15px;
	height: 20px;
	position:absolute;
	background-image: url(../img/sprites.png);
	background-position: -58px -185px;
	left: 3px;
}
.rep::after{
    background-color: #44a5c8;
    content: "";
	width: 15px;
	height: 20px;
	position:absolute;
	background-image: url(../img/sprites.png);
	background-position: 0px -190px;
	left: 100px;
    top: 5px;
}
.ret::after{
    background-color: #44a5c8;
    content: "";
	width: 15px;
	height: 20px;
	position:absolute;
	background-image: url(../img/sprites.png);
	background-position: -18px -185px;
	left: 158px;
}
.fav::after{
    background-color: #44a5c8;
    content: "";
	width: 15px;
	height: 20px;
	position:absolute;
	background-image: url(../img/sprites.png);
	background-position: -37px -185px;
	left: 235px;
}
.name{
    font-weight: bold;
}
.id{
    
    color: #c9c9c9;
    position: relative
    
}
.date{
    margin: 205px;
}

.text{
    display: block;
    
}
.link a{
    text-decoration: none;
    color: #44a5c8;
    
}
#main {

	width: 865px;
	height: 100%x;
	margin: 0 auto 0 auto;
	padding:15px;
	background-color: rgba(255, 255, 255, .3);
	

}






