*{
	margin: 0px;
	padding: 0px;
	
}

span{
	display: block;
}
#main{
	width: 283px;
	height: 196px;
	border: 1px black solid;
	
}
#main *{
	width: 50px;
	height: 50px;
	background-color: white;
	border: 1px black solid;
	margin-right: 25px;
	margin-bottom: 20px;
	float: left;
}
/*primer p color white*/
#main p:first-of-type{
	color: white;
}
/*los hermanos span del blockquote*/
#main blockquote + span{
	color: blue;
}
/*3 blocquote*/
#main blockquote + blockquote{
	color: gray;
}

/*Pares*/
#main *:nth-child(2n){
	border: 1px red solid;
}
/*impares*/
#main *:nth-child(2n+1){
	border: 1px brown solid;
}
/*cada 4 elemntos*/
#main *:nth-child(4n+4){
	margin: 0px;
	background-color: black;
}
/*ultimos dos elementos*/
#main *:nth-last-child(-n+2){
	background-color: orange;
}


