html, body{
	margin: 0px;
	padding: 0px;
}


html { 
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}
body{
	
}
main {
	width: 100%;
	height: 100%;

}
#article{

	width: 30%;
	padding: 30px;
	opacity: 0.70;
	position: relative;
	background-color: white;
	margin: 150px auto 350px auto;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#guy{
	width: 25%;
	height: 50%;
	top: 150px;
	left: 57%;
	position: absolute;
}
#guy{
	width: 25%;
	height: 50%;
	top: 150px;
	left: 57%;
	position: absolute;
}
#guy{
	width: 25%;
	height: 50%;
	top: 169px;
	left: 57%;
	position: absolute;
}
#guy1{
	width: 25%;
	height: 50%;
	top: 690px;
	left: 57%;
	position: absolute;
}
#guy2{
	width: 25%;
	height: 50%;
	top: 1222px;
	left: 57%;
	position: absolute;
}
#footer{
	width: 100%;
	height: 200px;
	margin-top: 30px;
	clear: both;
	bottom: 0px;
	position: fixed;
}