html body{
	margin: 0px;
	padding: 0px;
}
.wrapper{
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	
	
}
h1, h2{
	margin: 0px;
	font-size: 4em;
	color: white;
}
header{
	width: 100%;
	height: 100px;
	background-color: #4CC7BC;
}
main{
	width: 70%;
	height: 350px;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #4CC7BC;
}

aside{
	width: 28%;
	height: 350px;
	float: right;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #4CC7BC;
}
footer{
	width: 100%;
	height: 100px;
	clear: both;
	background-color: #4CC7BC;
}