html, body{
	margin: 0px;
	padding: 0px;
	background-color: white;
}

h1, h2{
	margin: 0px;
}
.wrapper{
	margin: 0px;
	width: 95%;
	height: 100%;
	margin:  0 auto 0 auto;
	text-align: center;
	
}
header{

	width: 100%;
	height: 110px;
	margin-top: 20px;
	margin-bottom: 40px;
	border:1px solid black;

}
header section{
	width: 97%;
	height: 75px;	
	margin: 10px auto 0 auto;
	border:1px solid black;
	-webkit-border-radius: 10px 10px 10px 10px;

}
main{
	width: 100%;
	height: 600px;
	margin-bottom: 40px;

}
#left{
	width: 20%;
	height: 600px;
	float: left;
	border:1px solid black;

}
#left article{
	width: 95%;
	margin: 5px auto 0 auto;
	border:1px solid black;
	-webkit-border-radius: 10px 10px 10px 10px;
	
}
.leftside{
	width: 80%;
	margin: 10px auto 20px auto;
	padding: 10px;
	border:1px solid black;
	display: block;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 5px 0px rgba(213, 0, 0, 0.75);


}
#middle{
	width: 55%;
	height: 600px;
	margin-right: 34px;
	float: right;
	
}
#right{
	width: 20%;
	height: 600px;
	float: right;
	border:1px solid black;
}
#up{
	width: 100%;
	height: 490px;
	border:1px solid black;

}
.page{
	width: 90%;
	height: 170px;
	display: block;
	padding: 10px;
	margin: 5px auto 0 auto;
	border:1px solid black;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 5px 0px rgba(213, 0, 0, 0.75);


}
.center{
	width: 90%;
	display: block;
	padding: 10px;
	margin: 30px auto 0 auto;
	border:1px solid black;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 5px 0px rgba(213, 0, 0, 0.75);
}
#down{
	width: 100%;
	height: 99px;
	border:1px solid black;
	margin-top: 10px;

	
}
footer{
	width: 100%;
	height: 110px;
	clear: both;
	border:1px solid black;	
	
}
footer section{
	width: 97%;
	height: 75px;	
	margin: 10px auto 0 auto;
	border:1px solid black;
	
}